{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block css %}
    <style>
        #alpha option {
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
<section class="py-5">
    <div class="container py-5">
        <form id="firstForm" method="post" action="{{ url_for('dashboard') }}">
            <div class="row justify-content-between ms-2 me-2">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Date Range</label>
                        <input required name="Start Date" type="date" class="form-control">
                        <input required name="End Date" type="date" class="form-control mt-2">
                    </div>
                    <label class="form-label" for="alpha">Select Alpha:</label>
                    <select name="alpha" id="alpha" class="form-select" required>
                        <option value="">-- Open this select menu --</option>
                        <option value="PAA">Protective Asset Allocation</option>
                        <option value="Momentum">Faber's Asset Allocation</option>
                        <option value="Valuation">Adaptive Asset Allocation</option>
                        <option value="Carry">Vigilant Asset Allocation</option>
                        <option value="CGF">Elastic Asset Allocation Tactical Allocation</option>
                        <option value="Is">Active Combined Asset Allocation</option>
                        <option value="Ds">Dual Momentum Asset Allocation</option>
                        <option value="Gmr">Paired Switching Asset Allocation</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div id="seconderyValue">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="text-end mt-4">
                        <button value="submit" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
{% block js %}
<script>
    window.addEventListener("DOMContentLoaded", (e) => {
        // Select Data by User
        let allDrop = document.querySelector('#alpha'),
            seconderyValue = document.querySelector('#seconderyValue');
        allDrop.addEventListener('change', function () {
            if (this.value == 'PAA'){
                seconderyValue.innerHTML = `
                <p>"Protective asset allocation combines absolute momentum and time series momentum. 
                    If more than half of assets in the asset universe have negative momentum, the entire 
                    capital is invested in cash(bond ETF). If at least half the number of assets have 
                    positive momentum, capital is allocated as follows:- " capital in cash=(N-n_assets)/n) 
                    capital in equity=(1-cp)/m. Here n>=N/2 and n_assets=number of assets with positive 
                    momentum.
                </p>
                <div class="mb-3">
                    <label class="form-label">Moving average in months</label>
                    <input required name="Moving Average" type="text" class="form-control" value="6">
                </div>
                <div class="mb-3">
                    <label class="form-label">Number of assets to hold</label>
                    <input required name="Number of assets" type="text" class="form-control" value="5">
                </div>
                <div class="mb-3">
                    <label class="form-label">Asset Universe</label>
                    <select required name="Asset Universe" class="form-select">
                        <option value="">-- Open this select menu --</option>
                        <option value="getf">Global ETF Basket</option>
                        <option value="gdax">Dax 30</option>
                        <option value="djns">Dow Jones 30</option>
                        <option value="nfty">Nifty 50 </option>
                    </select>
                </div>
                `;
            } 
            else if (this.value == 'Momentum'){
                seconderyValue.innerHTML = `
                <div class="mb-3">
                    <label class="form-label">First leg N month returns</label>
                    <input required name="First leg N month" type="text" class="form-control" value="1">
                </div>
                <div class="mb-3">
                    <label class="form-label">Second leg N month returns</label>
                    <input required name="Second leg N month" type="text" class="form-control" value="3">
                </div>
                <div class="mb-3">
                    <label class="form-label">Third leg N month returns</label>
                    <input required name="Third leg N month" type="text" class="form-control" value="6">
                </div>
                <div class="mb-3">
                    <label class="form-label">Fourth leg N month returns</label>
                    <input required name="Fourth leg N month" type="text" class="form-control" value="12">
                </div>
                <div class="mb-3">
                    <label class="form-label">Leverage</label>
                    <input required name="Leverage" type="text" class="form-control" value="1">
                </div>
                `;
            }
            else if (this.value == 'Valuation'){
                seconderyValue.innerHTML = `
                <div class="mb-3">
                    <label class="form-label">N month returns for the assets</label>
                    <input required name="N month returns for the assets" type="text" class="form-control" value="6">
                </div>
                <div class="mb-3">
                    <label class="form-label">Number of assets to hold</label>
                    <input required name="Number of assets to hold" type="text" class="form-control" value="5">
                </div>
                `;
            }
            else if (this.value == 'Carry'){
                seconderyValue.innerHTML = `
                <div class="mb-3">
                    <label class="form-label">Number of assets to hold</label>
                    <input required name="Number of assets to hold" type="text" class="form-control" value="1">
                </div>
                `;
            }
            else if (this.value == 'CGF'){
                seconderyValue.innerHTML = `
                <div class="mb-3">
                    <label class="form-label">Number of assets to hold</label>
                    <input required name="Number of assets to hold" type="text" class="form-control" value="1">
                </div>
                `;}
            else if (this.value == 'Is'){
                seconderyValue.innerHTML = `
                <div class="mb-3">
                    <label class="form-label">Lower channel (Months)</label>
                    <input required name="Lower channel (Months)" type="text" class="form-control" value="6">
                </div>
                <div class="mb-3">
                    <label class="form-label">Upper channel (Months)</label>
                    <input required name="Upper channel (Months)" type="text" class="form-control" value="12">
                </div>
                `;}
            else if (this.value == 'Ds'){
                seconderyValue.innerHTML = `
                <div class="mb-3">
                    <label class="form-label">N month returns</label>
                    <input required name="N month returns" type="text" class="form-control" value="12">
                </div>
                `;}
            else if (this.value == 'Gmr'){
                seconderyValue.innerHTML = `
                <div class="mb-3">
                    <label class="form-label">N month returns</label>
                    <input required name="N month returns" type="text" class="form-control" value="3">
                </div>
                `;}
            else {seconderyValue.innerHTML = '';}
        })
    })
</script>
{% endblock %}